.TopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333; 
    color: #fff;
  }
  
  .Left {
    flex-grow: 1;
  }
  
  .Right {
    display: flex;
    align-items: center;
  }
  
  .WeatherWidget {
    /* Estilos para el widget del tiempo */
  }